h1{
    text-align: center;
}

.block-style{
    height:600px;
    border: thick solid red;
    background-color: orange;
}

.block-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 10px;
    font-size: 100px;
}

.box-2{
    align-self: flex-start;
}

.block-2{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    height: 700px;
}

.box-1, .box-2{
    width: 300px;
}

.box-3, .box-4{
    width: 500px;
}

.box-1{
    background-color: yellow;
}
.box-2{
    background-color: green;
}
.box-3{
    background-color: blue;
}
.box-4{
    background-color: indigo;
}

.block-3{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; 
    height: 650px;
}

.box-1-a, .box-2-a{
    width: 400px;
}

.box-3-a, .box-4-a{
    width: 600px;
}
